# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.log

# Virtual environment
.venv/
env/
venv/
ENV/

# Jupyter / IPython
.ipynb_checkpoints/

# Model artifacts (large files, logs)
mlruns/
out/

# Hugging Face / Transformers cache
~/.cache/
cache/
.huggingface/

# System / Editor
.DS_Store
*.swp
*.swo
*.bak
*.tmp
.vscode/
.idea/

# Docker
*.pid
*.tar
